/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    --scale: 2.5vw;
    font-size: clamp(1.2rem, var(--scale), 1.4rem);
    line-height: 1.21;
}

p, .p{
    font-size: clamp(1.2rem, var(--scale), 1.4rem);
}

/* Typography */
h1, .h1{
    font-size: clamp(2rem, var(--scale), 3.2rem);
}

h2, .h2{
    font-size: clamp(1.4rem, var(--scale), 1.6rem);
}

small, .small{
    font-size: .75em;
}


/* Slick */
.slick-slide {
    margin: 0 16px;
}

.slick-list {
    margin: 0 -16px !important;
}

.slick-track{
    display: flex !important;
}


/*  Other */
img{
    max-width: 100%;
    height: auto;
}